{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>aaaaa</h1>
    <h1>rott</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit eos laudantium ratione ut hic perferendis impedit minima corrupti sed nihil, alias accusantium distinctio vitae fugiat autem eum nobis dolor in.</p>

    <img src="{% static 'images/rott.jpg' %}" alt="" width="400" height="300">
</body>
</html>